// Navigation Styles here
nav {
    display: flex;
    align-items: center;
    margin: 26px 25% 0px 28.5%;
    justify-content: flex-start;

    .nav-logo {

        h1 {
        font-size: 45px;
        }
    }

    .nav-menu {
        font-size: 18px;
        width: 78%;
        display: flex;
        justify-content: flex-end;
        
        a {
            padding-left: 30px;
        }
    }
}